{% extends "base.html" %} 
{% load static %} 
{% block content %}

<div class="container form-container shadow-lg d-flex flex-column flex-md-row">
  <!-- Left Side -->
  <div class="col-md-6 form-image text-center">
    <div>
      <h4>Create a New Password<br />And Secure Your Account</h4>
    </div>
  </div>

  <!-- Right Side -->
  <div class="col-md-6 p-5">
    <h2 class="mb-3">Reset Password</h2>
    <p class="text-light">Enter your new password below.</p>

    <form method="POST" action="{% url 'reset-password' %}">
      {% csrf_token %}
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="New password"
        />
      </div>

      <div class="mb-4">
        <input
          type="password"
          class="form-control"
          placeholder="Confirm new password"
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary w-100 mb-3"
        style="background-color: #7e6de7; border: none"
      >
        Reset Password
      </button>

      <div class="signup_link">
        Remember your password? <a href="{% url 'login' %}">Login</a>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
